{% extends 'base.html' %}
{% from "bootstrap/pagination.html" import render_pagination %}


{% block page_body %}
    <div class="container">


        {#    这里要动态演示爬取数据的过程      #}
        <h3>正在爬取数据中......</h3>
        <h3>请稍等</h3>
        {#    ===========================              #}

        <nav>

            {#todo:有时间再做    暂停爬取     #}
            {#todo:有时间再做    继续爬取     #}
            {#todo:有时间再做    结束爬取     #}

            <h3>数据爬取完毕!</h3>
            <a href="{{ url_for('.gdut_index') }}">显示数据</a>
        </nav>

        {% if pagination %}
            {{ render_pagination(pagination) }}
        {% endif %}
    </div>
{% endblock %}



