{% extends 'bootstrap/base.html' %}

{#{% block title %}{{ title }}{% endblock %}#}
{% block title %}This is GDUT news page{% endblock %}


{% block head %}
    {{ super() }}
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    {% include ['includes/_head.html'] %}
    <title>广工新闻</title>
{% endblock head %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css">
    {#    <link rel="stylesheet"#}
    {#      href="{{url_for('app/static', filename='site.css')}}">#}
{% endblock %}


{% block body -%}
    {% block navbar %}
        {{ super() }}
    {%- endblock navbar %}

    {% block content -%}
        {% block header %}
            <header>
                <div class="page-header">
                    <div class="container">
                        <h1>广东工业大学爬虫系统</h1>
                        <p>一个高效,便捷,灵活的新闻爬取系统,随时可同步更新!</p>
                        <p><a class="btn btn-primary btn-lg" href="{{ url_for('.index') }}" role="button">返回首页
                            &raquo;</a></p>
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block page_body %}
            {#        继承于这个base的其他页，主要在这里写内容！！！！   #}
        {% endblock %}

    {%- endblock content %}

    {% block scripts %}
        {{ super() }}
    {%- endblock scripts %}
{%- endblock body %}



{#{% block scripts %}#}
{#<script src="{{url_for('.static', filename='myscripts.js')}}"></script>#}
{#{{super()}}#}
{#{% endblock %}#}
