{% extends 'base.html' %}
{% from "bootstrap/pagination.html" import render_pagination %}


{% block page_body %}
    <div class="container">
        {#    banner      #}
        <img src="{{ banner_site }}" alt="">


        <h3>这是模拟的广工新闻首页</h3>
        <a href="{{ url_for('.index') }}">返回程序的首页</a>


        {#    menu      #}
        <nav>
            {% for menu in menu_query %}
                <a href="{{ menu.menu_href }}">{{ menu.menu_name }}</a>
            {% endfor %}
        </nav>

    <a href="{{ topnews_href }}">{{ topnews_title}}</a>

        {% if pagination %}
            {{ render_pagination(pagination) }}
        {% endif %}
    </div>
{% endblock %}