{% extends 'base.html' %}
{% from "bootstrap/pagination.html" import render_pagination %}


{% block head %}
    {{ super() }}
{% endblock head %}

{% block body -%}
    {% block navbar %}
        {{ super() }}
    {%- endblock navbar %}

    {% block content -%}
        {% block header %}
            <header>
                <div class="page-header">
                    <div class="container">
                        <h1>广东工业大学爬虫系统</h1>
                        <p>一个高效,便捷,灵活的新闻爬取系统,随时可同步更新!</p>
                        <p class="btn btn-primary btn-lg" disabled="disabled" role="button">首页</p>
                    </div>
                </div>
            </header>

        {% endblock %}

        {% block page_body %}
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                        <h2>爬取</h2>
                        <p>
                            <br>
                            点击这个按钮之后
                            <br>
                            <br>
                            将会开始爬取 <a href="http://gdutnews.gdut.edu.cn/">http://gdutnews.gdut.edu.cn/</a>
                            页面的新闻内容,并且模拟一个新闻页面</p>
                        <p><a class="btn btn-success" href="{{ url_for('.start_spider') }}" role="button">开始爬取
                            &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>展示</h2>
                        <br>
                        点击这个按钮之后
                        <br>
                        <br>
                        将会显示一个模拟 <a href="http://gdutnews.gdut.edu.cn/">http://gdutnews.gdut.edu.cn/</a>
                        页面的新闻页面</p>
                        <p><a class="btn btn-primary" href="{{ url_for('.gdut_index') }}" role="button">显示数据 &raquo;</a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2>删除</h2>
                        <br>
                        <b>慎重!!</b>
                        <br>
                        <br>
                        点击这个按钮之后
                        <br>将会开始 <b>清除</b> 数据库的所有内容!</p>
                        <p><a class="btn btn-danger" href="{{ url_for('.clear_data') }}" role="button">开始清空数据库
                            &raquo;</a></p>
                    </div>
                </div>

                <hr>

                <footer>
                    <p>&copy; Jake Ji 毕业课设</p>
                </footer>
            </div>
        {% endblock %}
    {%- endblock content %}

    {% block scripts %}
        {{ super() }}
    {%- endblock scripts %}
{%- endblock body %}