{% extends 'base.html' %}
{% from "bootstrap/pagination.html" import render_pagination %}


{% block head %}
    {{ super() }}
{% endblock head %}

{% block body -%}
    {% block navbar %}
        {{ super() }}
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->
    {%- endblock navbar %}

    {% block content -%}
        {% block header %}
            {{ super() }}
        {% endblock %}

        {% block page_body %}
            <div class="container">
                <div class="row row-offcanvas row-offcanvas-right">
                    <div class="col-xs-12 col-sm-9">
                        {#                        <p class="pull-right visible-xs">#}
                        {#                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav#}
                        {#                            </button>#}
                        {#                        </p>#}
                        <div class="jumbotron">
                            {#                            <h1><a href="{{ topnews_href }}">{{ topnews_title }}</a></h1>#}
                            <h1><a href="{{ url_for('.spider_detail', path=topnews_href) }}">{{ topnews_title }}</a>
                            </h1>

                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-lg-4">
                                {#                                <h2><a href="{{ schoolnews_parent_href }}">学校新闻</a></h2>#}
                                <h2><a href="{{ url_for('.spider_detail', path=schoolnews_parent_href) }}">学校新闻</a></h2>

                                <p><a href="{{ schoolnews_head_news_href }}">{{ schoolnews_head_news_title }}</a>
                                    {% for schoolnewssubnews in schoolnewssubnews_query %}
{#                                        <a href="{{ schoolnewssubnews.schoolnews_sub_news_href }}">#}
{#                                            {{ schoolnewssubnews.schoolnews_sub_news_title }}#}
{#                                        </a>#}

                                        <a href="{{ url_for('.spider_detail', path=schoolnewssubnews.schoolnews_sub_news_href) }}">
                                            {{ schoolnewssubnews.schoolnews_sub_news_title }}
                                        </a>

                                        <br>
                                    {% endfor %}</p>
                                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                            </div><!--/.col-xs-6.col-lg-4-->

                            <div class="col-xs-6 col-lg-4">
                                <h2><a href="{{ schoolnews_parent_href }}">媒体工大</a></h2>
                                <p>
                                    {% for zhimeihui in zhimeihui_query %}
                                        <a href="{{ url_for('.spider_detail', path=zhimeihui.paper_sub_news_href) }}">
                                            {{ zhimeihui.paper_sub_news_title }}
                                        </a>
                                        <br>
                                    {% endfor %}</p>
                                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                            </div><!--/.col-xs-6.col-lg-4-->

                            <div class="col-xs-6 col-lg-4">
                                <h2><a href="{{  schoolnews_parent_href }}">人文校园</a></h2>
                                <p>
                                    {% for line in humanity_campus_query %}
                                        <a href="{{ url_for('.spider_detail', path=line.link) }}">{{ line.title }}</a>
                                        <br>
                                    {% endfor %}</p>
                                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                            </div><!--/.col-xs-6.col-lg-4-->


                            <div class="col-xs-6 col-lg-4">
                                <h2><a href="{{ schoolnews_parent_href }}">学习园地</a></h2>
                                <p>
                                    {% for line in studyplaces_news_query %}
                                        <a href="{{ url_for('.spider_detail', path=line.link) }}">{{ line.title }}</a>
                                        <br>
                                    {% endfor %}</p>
                                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                            </div><!--/.col-xs-6.col-lg-4-->

                            <div class="col-xs-6 col-lg-4">
                                <h2><a href="{{ schoolnews_parent_href }}">校友动态</a></h2>
                                <p>
                                    {% for line in graduate_people_query %}
                                        <a href="{{ url_for('.spider_detail', path=line.link) }}">{{ line.title }}</a>
                                        <br>
                                    {% endfor %}</p>
                                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                            </div><!--/.col-xs-6.col-lg-4-->
                            <div class="col-xs-6 col-lg-4">
                                <h2><a href="{{ schoolnews_parent_href }}">网上校史馆</a></h2>
                                <p>
                                    {% for line in school_history_query %}
                                        <a href="{{ url_for('.spider_detail', path=line.link) }}">
                                            {{ line.title }}
                                        </a>
                                        <br>
                                    {% endfor %}</p>
                                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                            </div><!--/.col-xs-6.col-lg-4-->

                        </div><!--/row-->
                    </div><!--/.col-xs-12.col-sm-9-->

                    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                        <div class="list-group">
{#                            {% for menu in menu_query %}#}
{#                                <a href="{{ menu.menu_href }}" class="list-group-item">{{ menu.menu_name }}</a>#}
{#                            {% endfor %}#}
                            <a href="{{ url_for('.index') }}" class="list-group-item">网站首页</a>
                            <a href="{{ url_for('.spider_menu_section', path=menu_query[1].menu_href) }}" class="list-group-item">学校新闻</a>

{#                            url_for('.spider_detail', path=topnews_href)#}

                            <a href="{{ url_for('.spider_menu_section', path=menu_query[2].menu_href) }}" class="list-group-item">图片新闻</a>
                            <a href="{{ url_for('.spider_menu_section', path=menu_query[3].menu_href) }}" class="list-group-item">媒体工大</a>
                            <a href="http://xbw.gdut.edu.cn/index.aspx" class="list-group-item">数字校报</a>
                            <a href="{{ url_for('.spider_menu_section', path=menu_query[5].menu_href) }}" class="list-group-item">人文校园</a>
                            <a href="{{ url_for('.spider_menu_section', path=menu_query[6].menu_href) }}" class="list-group-item">校友动态</a>
                            <a href="{{ url_for('.spider_menu_section', path=menu_query[7].menu_href) }}" class="list-group-item">学习园地</a>
                            <a href="{{ url_for('.spider_menu_section', path=menu_query[8].menu_href) }}" class="list-group-item">专题报道</a>
                            <a href="http://xmt.gdut.edu.cn/" class="list-group-item">新媒体联盟</a>
                            <a href="#" class="list-group-item">网上校史馆</a>
                        </div>
                    </div><!--/.sidebar-offcanvas-->
                </div>


                <hr>

                <footer>
                    <p>&copy; Jake Ji 毕业课设</p>
                </footer>
            </div>
        {% endblock %}
    {%- endblock content %}

    {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
        <script src="{{ bootstrap_find_resource('jquery.js', cdn='jquery') }}"></script>
        <script src="{{ bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap') }}"></script>
    {%- endblock scripts %}
{%- endblock body %}